/* noop */
.pos\:x\:left {
}

/* css-grid or css-flex */
.pos\:x\:center {
}

.pos\:x\:right {
  position: absolute;
  right: 0;
}

/* noop */
.pos\:y\:top {
}

/* css-grid or css-flex */
.pos\:y\:center {
}

.pos\:y\:bottom {
  position: absolute;
  bottom: 0;
}

.pos\:x\:abs {
  position: absolute;
  left: var(--pos-x-abs);
}

.pos\:y\:abs {
  position: absolute;
  top: var(--pos-y-abs);
}
